# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=mongodb+srv://dontayem:dontayem@cluster0.wtijtjj.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
SESSION_ID=Prince~V05gAL4a#B5w6YljdbZy30ckhOkLL0aannEdfT98zZLiHK_ZX95s
REMOVEBG_KEY=8zHLRz3MciPmfyVU2N5rtiND
PREFIX=.
MODE=public
AutoReaction=false
STATUSVIEW=true
OWNERS=16582148118;PRINCE
antidelete=true
BOT_NAME=Prince
DL_MSG=Here is your video
ANTI_LINK=true
ANTI_CALL=false
VIEWONCE=true
REPLY_STATUS=false
STATUS_MESSAGE=🩵ʏᴏᴜʀ sᴛᴀᴛᴜs sᴇᴇɴ sᴜᴄᴄᴇssғᴜʟʟʏ😍 😎ʙʏ *ᴘʀɪɴᴄᴇ ᴍᴅ* ᴡʜᴀᴛsᴀᴘᴘ ʙᴏᴛ🩵
AUTOREAD=false
